@import "primeflex/primeflex.css";
@import "primeflex/themes/primeone-light.css";
@import "primeflex/themes/primeone-dark.css";
@import "../../../colors.scss";
.attendance__container {
  background-color: $aliceblue;
  .overview__text {
    font-size: 20px;
    font-weight: 600;
    color: $dimgray;
    margin: 8px 0;
  }
  .registe__button__view {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 16px;
    .registe__button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $cobalt;
      padding: 10px 16px;
      border-radius: 6px;
      color: $white;
    }
  }
  .card__view {
    padding: 16px;
    background-color: $white;
    border-radius: 6px;
    height: 180px;
    .actual__working__view {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .actual__text {
        font-size: 16px;
        font-weight: 600px;
        color: $dimgray;
      }
      .april__text{
        font-size: 16px;
        font-weight: 600px;
        color: $suvagrey;
      }
    }
    .icon__with__text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .percentage__text {
        font-size: 16px;
        font-weight: 600;
        color: $green;
        margin-left: 8px;
      }
      .percentage__text__red {
        font-size: 16px;
        font-weight: 600;
        color: $darkRed;
        margin-left: 8px;
      }
    }
    .previous__week__data {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color:$pink;
      border-radius: 6px;
      padding: 12px 16px;
      margin-top: 24px;
      .previous__week__icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .previous__text {
          font-size: 12px;
          font-weight: 400px;
          color: $dimgray;
          margin-left: 8px;
        }
      }
      .previous__time {
        font-size: 12px;
        font-weight: 400px;
        color: $dimgray;
      }
    }
    .previous__week__green {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $dimGreen;
      border-radius: 6px;
      padding: 12px 16px;
      margin-top: 16px;
      .previous__week__icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .previous__text {
          font-size: 12px;
          font-weight: 400px;
          color: $dimgray;
          margin-left: 8px;
        }
      }
      .previous__time {
        font-size: 12px;
        font-weight: 400px;
        color: $dimgray;
      }
    }
  }
  .tabel__container{
    border-radius:6px;
    padding:16px;
    background-color:$white;
    height:380px;
    .tabel__view__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      
      .attendance__list{
        font-size: 16px;
        font-weight: 600;
        color: $dimgray
      }
      .custom-header {
        background-color: $darkRed!important;
        color: $white;
        text-align: center !important;
      }
    }
  }
  .card__view__activity {
    flex: 1;
    padding: 16px;
    background-color: $white;
    border-radius: 6px;
    border-left: 1px;
    border-color: $darkRed;
    // height: 375px;

    .today__activity__text {
      font-size: 16px;
      font-weight: 600px;
      color: $dimgray;
      margin-bottom: 16px;
    }
    .scrollable-container {
      // height: 20px;
      overflow-y: auto;
    }
    .list__data__view {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 10px;
      background-color: $lightlightgreen;
      margin: 8px 0;
      border-radius: 6px;
      .list__data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .swipe__text {
          font-size: 12px;
          font-weight: 400px;
          color: $dimgray;
          margin-left: 8px;
        }
      }
      .swipe__time__text {
        font-size: 12px;
        font-weight: 400px;
        color: $dimgray;
      }
    }
    .swipe__in__total {
      margin-top: 22px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .swipe__out__total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 14px;
    }
    .swipe__in__total__text {
      font-size: 14px;
      font-weight: 500px;
      color: $dimgray;
    }
    .swipe__out__total__text {
      font-size: 14px;
      font-weight: 500px;
      color: $dimgray;
    }
    .swipe__in__total__num {
      font-size: 14px;
      font-weight: 500px;
      color: $green;
    }
    .swipe__out__total__num {
      font-size: 14px;
      font-weight: 500px;
      color: $darkRed;
    }
    .calendar__view {
      flex: 2.5;
    }
  }
 
  .status__view {
    flex: 1;
    padding: 10px 16px;
    background-color: $white;
    border-radius: 6px;
    .tabel__view__header__view{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
      .regularization__view{
        font-size: 16px;
        font-weight: 600;
        color: $dimgray;
      }
    }

    .total__request__view {
      background-color: $white;
      padding: 22px 16px;
      border-radius: 6px;
      border-left: 4px solid $borderBlue;

      .total__request__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .total__request {
          font-size: 14px;
          font-weight: 600;
          color: $dimgray;
        }
      }
    }
    .total__request__Approved {
      background-color: $white;
       padding: 22px 16px;
      border-radius: 6px;
      // margin-bottom: 16px;
      border-left: 4px solid $green;

      .total__request__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .total__request {
          font-size: 14px;
          font-weight: 600;
          color: $dimgray;
        }
      }
    }
    .total__request__Rejected {
      background-color: $white;
       padding: 22px 16px;
      border-radius: 6px;
      // margin-bottom: 16px;
      border-left: 4px solid $darkRed;

      .total__request__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .total__request {
          font-size: 14px;
          font-weight: 600;
          color: $dimgray;
        }
      }
    }
    .total__request__Pending {
      background-color: $white;
       padding: 22px 16px;
      border-radius: 6px;
      // margin-bottom: 16px;
      border-left: 4px solid $lightPink;

      .total__request__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .total__request {
          font-size: 14px;
          font-weight: 600;
          color: $dimgray;
        }
      }
    }
  }
 
  


}

