@import '../../../colors.scss';

.calendar__layout {

    .date__time__text {
        display: flex;
        justify-content: space-between;
    }

    .dashboard__date__text {
        color: $dimgray;
        font-size: 16px;
        font-weight: 600;
    }

    .dashboard__calensar__style {
        height: 530px;
    }

    .calendar__text {
        font-size: 20px;
        font-weight: 600;
        color: $dimgray;

    }

    .calendar__attendance__text {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .calendar__flex__style {
        flex: 1;
    }

    .p-calendar .p-datepicker {
        min-width: 100%;
        border: none;

    }

    .p-datepicker .p-datepicker-header {
        padding: 0.5rem;
        color: $darkblue;
        background: $white;
        font-weight: 600;
        margin: 0;
        border-bottom: 0;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }

    .calendar__date__text {
        color: $cobalt;
        font-size: 14px;
        font-weight: 600
    }

    .p-icon {
        width: 1rem;
        height: 1rem;
        color: $cobalt;
    }

    .calendar__time__text {
        color: $dimgray;
        font-size: 14px;
        font-weight: 600
    }

    .swipein__text {
        color: $dimgray;
        font-weight: 400;
        font-size: 14px;
    }

    .swipein__and__hours__text {
        border: 1px solid $brightgray;
        border-radius: 6px;
        padding: 16px;
        display: flex;
        justify-content: space-between;
    }

    .calendar__hrs__text {
        color: $lightgreen;
        font-size: 14px;
        font-weight: 600;
        align-items: center;
        text-align: center;
        display: flex;
    }

    .custom-day-header {
        color: $red;
        font-weight: bold;
    }

    .date-container {
        position: relative;
    }

    .blue-dot {
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 10px;
        height: 10px;
        background-color: $cobalt;
        border-radius: 50%;
    }

    .cl-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $cobalt;
        color: $white;
        font-weight: 600;
        font-size: 12px;
        position: relative;
    }

    .red-dot {
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        width: 10px;
        height: 10px;
        background-color: $red;
        border-radius: 50%;
    }



}