@import '../../../../../colors.scss';
.p-tabview .p-tabview-nav {
    background: none;
    border: 1px solid $solitude;
    border-width: 0 0 2px 0;
    width: 14%;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: none;
    border-color: $slateblue;
    color: $slateblue;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    border: solid $solitude;
    border-width: 0 0 2px 0;
    border-color: transparent transparent $solitude transparent;
    background: none;
    color: $darkgrayishblue;
    padding: 1.25rem;
    font-weight: 700;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    transition: box-shadow 0.2s;
    margin: 0 0 -2px 0;
}