.regularization__list__container {
  background-color: #f4f9ff;
  .overview__text {
    font-size: 20px;
    font-weight: 600px;
    color: #000;
    margin: 8px 8px;
  }
  .arrow__icon__text {
    display: flex;
    // justify-content: center;
    align-items: center;
  }
  .registe__button__view {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .registe__button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #0047ab;
      padding: 10px 16px;
      border-radius: 6px;
      color: #fff;
    }
  }
  .request__header {
    margin-top: 16px;
    // margin-top: 16px;
    .total__request__view {
      width: "100%";
      background-color: #fff;
      padding: 28px 24px;
      border-radius: 6px;
      // margin: 18px;
      margin-bottom: 16px;
      border-left: 4px solid #0061ab;

      .total__request__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .total__request {
          font-size: 14px;
          font-weight: 600;
          color: #686868;
        }
      }
    }
  }
  .request__header {
    margin-top: 16px;
    .total__request__Approved {
      width: "100%";
      background-color: #fff;
      padding: 28px 24px;
      border-radius: 6px;
      margin-bottom: 16px;
      border-left: 4px solid #00aa00;

      .total__request__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .total__request {
          font-size: 14px;
          font-weight: 600;
          color: #686868;
        }
      }
    }
  }
  .request__header {
    margin-top: 16px;
    .total__request__Rejected {
      width: "100%";
      background-color: #fff;
      padding: 28px 24px;
      border-radius: 6px;
      margin-bottom: 16px;
      border-left: 4px solid #c60000;

      .total__request__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .total__request {
          font-size: 14px;
          font-weight: 600;
          color: #686868;
        }
      }
    }
  }
  .request__header {
    margin-top: 16px;
    .total__request__Pending {
      width: "100%";
      background-color: #fff;
      padding: 28px 24px;
      border-radius: 6px;
      margin-bottom: 16px;
      border-left: 4px solid #ffd2b3;

      .total__request__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .total__request {
          font-size: 14px;
          font-weight: 600;
          color: #686868;
        }
      }
    }
  }
}
.p-datatable .p-datatable-thead > tr > th {
  background-color: #0047ab !important;
  color: white;
  text-align: center !important;
  // padding: 1rem 1rem;
}
.p-datatable .p-datatable-tbody > tr > td {
  text-align: center;
  border: 1px solid #e5e7eb;
  border-width: 0 0 1px 0;
  // padding: 1rem 1rem;
  font-size: 16px;
  font-weight: 400;
}
.p-datatable .p-column-header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  padding: 8px;
}
.p-datatable-table {
  border-spacing: 0px;
  width: 100%;
  border-radius: 10px;
}
.p-paginator .p-dropdown {
  margin-left: 0.5rem;
  height: 3rem;
  background-color: #0047ab;
  color: #fff;
}
.p-dropdown .p-dropdown-trigger {
  background: transparent;
  color: #fff;
  width: 3rem;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.p-inputtext {
  color: #fff;
}
.p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 600;
  font-size: 16px;
}
.status__view{
    display: flex;
    // justify-content: center;
    align-items: center;
.approved__button {
//   width: 77px;
  background-color: #C5FFC5;
  color: #00AA00;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
  margin: 0px 16px;
  padding: 4px;
}
.status__text{
    font-size: 14px;
    font-weight: 600;
    color: #686868;
}

}
.all__alighment__view{
    margin-top: 12px;
.input__name{
    font-size: 14px;
    font-weight: 600;
    color: #686868;
    margin-bottom: 8px;
    border-color: #0047AB;
   
    .star__text{
        font-size: 14px;
        font-weight: 600;
        color: #c60000;
        margin-bottom: 8px;
    }
   
}
.dropdown__datas{
    display: flex;
    align-items: center;
    .ststus__data{
        border: 1px solid #0047AB;
        padding: 4px;
        font-size: 14px;
    font-weight: 600;
    color: #686868;
    border-radius: 6px;

    }
    .ststus__data__next{
        border: 1px solid #0047AB;
        padding: 4px;
        font-size: 14px;
    font-weight: 600;
    color: #686868;
    border-radius: 6px;
    margin: 0px 16px;
    }
}}
.p-inputtext.input__data {
    border: 1px solid #0047AB;
}
.p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
  background-color: transparent;
  border: 0 none;
  color: #6b7280;
  min-width: 0rem;
  height: 3rem;
  margin: 0.143rem;
  transition: box-shadow 0.2s;
  border-radius: 50%;
}



