.overall__leaves_overview__layout{
    margin: 24px;
    .leaves__overview__header__text{
        color: #686868;
        font-weight: 600;
        font-size: 20px;
       
    }
    .overview__text__and__apply{
        display: flex;
        justify-content: space-between;
        .leaves__overview__text{
            color: #686868;
            font-size: 20px;
            font-weight: 600;
        }
        .overview__apply__button .p-button {
            margin: 0;
            display: inline-flex;
            cursor: pointer;
            user-select: none;
            align-items: center;
            vertical-align: bottom;
            text-align: center;
            overflow: hidden;
            position: relative;
            background-color: #0047AB;
            height: 40px;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 400;
            justify-content: center;
            width: 72px;
        }
    }
    .overview__leave__Card{
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }
  
}
