$cobalt: #0047AB;
$white:#FFFFFF;
$dimgray:#686868;
$aliceblue:#F4F9FF;
$darkblue:#4b5563;
$lotion:#FAFAFA;
$solitude:#e5e7eb;
$slateblue:#6366f1;
$darkgrayishblue:#6b7280;
$cloud:#374151;
$ghostwhite:#f9fafb;
$lightsilver:#d1d5db;
$navyblue:#0047AB80;
$red:#Ff0000;
$antiflash:#f0f0f0;
$royalblue:#1e62e8;
$paleblue:#C2EEFF;
$thickblue:#0074AB;
$suvagrey:#8D8D8D;
$brightgray:#EAEAEA;
$lightgreen:#00AB9D;
$borderBlue:#0061ab;
$green:#00aa00;
$darkRed:#c60000;
$lightPink:#ffd2b3;
$lightwhite:#e5e7eb;
$dimGreen:#C5FFC5;
$paginatorColor:#6b7280;
$pink:'#ffcaca';
$lightlightgreen:'#f6f6f6';
$darkdarkBlue:#0047ab;
$lightblue:#007bff;
$black:#000
